.table {
    width: 100%;
}

%cell {
    text-align: center;
    padding-bottom: 14px;

    strong {
        font-weight: 500;
    }
}

.currencyFromCell {
    @extend %cell;
}

.currencyToCell {
    @extend %cell;
}
