.root {
    background-color: var(--primary-header-background-color);
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 40px;
}

.title {
    color: white;
    margin: 0;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonGroup {
    display: flex;
    border: 1px solid var(--primary-action-color);
    border-radius: 5px;
    overflow: hidden;
}

.checkboxButton {
    &:not(:last-child) {
        label {
            border-right: 1px solid var(--primary-action-color);
        }
    }

    input {
        display: none;
    }

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: var(--primary-action-color);
        cursor: pointer;
        height: 32px;
        width: 32px;
    }

    input:checked + label {
        background-color: var(--primary-background-color);
    }
}
